/* 全てのページに適用 - ヘッダー */
html {
    font-family: 'Noto Sans JP', sans-serif;
}

body {
    padding-top: 80px;
}

header {
    position: fixed;
    height: 80px;
    background-color: #fff;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}

.p-header__logo {
    padding: 15px 24px;    
}
.l-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.p-header__nav__list {
    display: flex;
    list-style: none;
    align-items: center;
}
a{
    color: #666666;
    text-decoration: none;
}
.p-header__nav__item {
    margin: 20px;
    font-weight: 700;
}
.circle {
    border-radius: 50%;
    border: 1px solid #adadad;
    padding: 10px;
    font-size: 0;
}

/* メイン */
/* ①ヒーロー画像 */
.top-hero {
    position: relative;
    height: 680px;
    margin-bottom: 96px;
}
.hero-body {
    position: absolute;
    text-align: center;
    z-index: 1;
    top: 198px;
    left: 10%;
    bottom: 201px;
    width: 500px;
    height: 281px;
    background: #EFF2F5;
    border-radius: 24px;
}
.posse-community{
    font-size: 16px;
    color: #0071BC;
    padding-top: 40px;
}
.hero-catchcopy {
    font-size: 60px;
    line-height: 80px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #333333;
    padding-bottom: 40px;
}
.hero-img {
    position: absolute;
    width: 60%;
    /* height: 680px; */
    right: 0px;
    top: 0px;
    max-width: 100%;
    /* background: url(./assets/img/img-hero.jpg); */
    
}
.hero-img-pic {
    border-radius: 80px 0px 0px 80px;
}
.top-scroll {
    position: absolute;
    bottom: 24px;
    left:50px;
}
.top-scroll::before {
    background-color: #ccc;
    border-radius: 8px;
    content: "";
    display: inline-block;
    height: 8px;
    width: 8px;
    position: absolute;
    bottom: 5px;
    left: -12px;
}

/* ②POSSEとは　説明 */
.top-about {
    margin-bottom: 140px;
}
.top-about-container {
    text-align: center;
}
.about-posse-sentence-first {
    color: #333333;
    margin: 12px auto;
}

.about-posse-sentence-second {
    color: #0071BC;
    display: block;
    font-size: 14px;
    letter-spacing: initial;
    line-height: 1.8;
    margin-bottom: 43px;
}
.top-about-body {
    display: flex;
    margin: 0 auto;
    width: 80%;
}
.top-about-body-img {
    width: 75%;
}
.top-about-body-img-pic {
    border-radius: 24px;
}
.top-about-body-content {
    margin: auto;
    margin-left: 40px;
    width: 70%;
    font-size: 14px;
    line-height: 1.8;
    text-align: left;
}

/* 公式ライン */
.official-line {
    background: url(./assets/img/bg-line.jpg);
    background-size: cover;
    width: 70%;
    height:346.78px;
    border-radius: 56px;
    position: relative;
    margin: 80px auto;
    /* 中央ぞろえ */
    display: flex;
    justify-content: center;
    align-items: center;
}

.official-line::after {
    display: flex;
    justify-content: center;
    background-color: #0071bce4;
    content:"";
    width: 100%;
    height: 100%;
    border-radius: 56px;
    position:absolute;
    top: 0;
    z-index: 1;
}
.official-line-inner {
    z-index: 2;
}
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #ffff;
    font-size: 36px;
    letter-spacing: 0.05em;
}
.official-line-inner-icon {
    background: radial-gradient(#fff 60%, transparent 0%);
    height: 40px;
}
.sentence-add-official-line {
    height: 75.59px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #eee;
    letter-spacing: 0.1em;
} 
/* .white-button {
    position: relative;
} */
.button-add-official-line {
    /* display: flex; */
    /* position: relative; */
    width: 70%;
}
.button-add-official-line-inner {
    background-color: #fff;
    width: 60%;
    height: 49.2px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.link-icon {
    position: absolute;
    right: 200px;
}

/* フッターインナー */
.footer-inner-top {
    border-top: solid 1px #eee;
    text-align: center;
    padding-top: 56px;
    padding-bottom: 32px;
}
.footer-inner-top-second {
    padding-top: 24.12px;
    text-align: center;
}

/* 固定公式ライン */
.fixed-line-box {
    width: 288px;
    height: 80px;
    background-color: #5fdf5b;
    border-radius: 16px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 4px 4px 20px rgb(0 0 0 / 15%);
    z-index: 10;
}
.link-icon-text {
    color: #fff;
    width: 142px;
    height: 36px;
}
.link-icon-in-greenbox {
    margin-left: 24px;
    background: radial-gradient(#fff 50%, transparent 0%);
}
.link-icon-white {
    margin-right: 24px;
}
/* フッターボトム */
.two-icons {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 8px;
    margin: auto;
    margin-bottom: 48px;
}
.twitter-icon {
    border-radius: 50%;
    border: 1px solid #adadad;
    font-size: 0;
    padding: 10px;
}
.instagram-icon {
    border-radius: 50%;
    border: 1px solid #adadad;
    font-size: 0;
    padding: 10px;
}

/* フッターコピーライト */
.footer-copyright {
    padding: 36px;
    border-top: solid 1px #eee;
    color: #666;
    font-family: "Plus Jakarta Sans", "Noto Sans JP", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-align: center;
}

/* ここからクイズ */
/* js関わるところだけ */
/* ヒーロー画像、タイトル */
.q-hero-container {
    background-image: url(./assets/img/quiz/bg-hero.jpg);
    height: 320px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}
.q-hero-title {
    margin: 0;
    position: relative;
}
/* クイズ */
.q-hero-title-first {
    display: block;
    position: absolute;
    top: 110px;
    left: 204px;
    font-weight: 700;
    font-size: 18px;
    color: #EFF2F5;
}
.q-hero-title-second {
    display: block;
    position: absolute;
    width: 236px;
    left: 204px;
    top: 154px;
    font-weight: 700;
    font-size: 60px;
    color: #FFFFFF;
}
/* 問題 */
.q-box-question {
    margin: 11%;
}
.q-box-question-question-contents {
    color: #000;
}
.q-box-question-question-q1 {
    background-color: #0071bc;
    border-radius: 8px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    width: 58px;
    height: 60px;
    text-align: center;
    padding: 8px 16px;
    margin-bottom: 24px;
    line-height: 1.3;
} 
.q-box-question-question-sentence {
    font-size: 36px;
    font-weight: 700;
    margin: 16px 0 64px 0;
    color: #333333;
}
.q-box-question-question-img {
    text-align: center;
}
/* 答え */
.q-box-question-answer-q1 {
    background-color: #E34E70;
    border-radius: 8px;
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    width: 28px;
    height: 54px;
    text-align: center;
    padding: 8px 16px;
    margin: 55px 0 16px 0;
    line-height: 1.3;
}
/* 回答ボタン押すやつjs */
.js-quiz-boxes {
    display: flex;
    gap: 24px;

}
.js-quiz-boxes-button {
    position: relative;
    cursor: pointer;
    /* 箱色 */
    background: #FFFFFF;
    /* line */
    border: 5px solid #EEEEEE;
    border-radius: 8px;

    /* 大きさ間 */
    padding: 19px 19px 19px 38px;
    width:25%;
    height: 40px;
    justify-content: space-between;

    /* flex-direction: row; */
    align-items: center;

    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
    color: #333333;
}
.js-quiz-boxes-button-arrow {
    position: absolute;
    right: 24px;
    top: 31px;
}
/* 選択されたやつ↓ */
/* ボタン押すとjsでクラスが追加されます。 */
.selected-answer {
    border: #0071BC solid 5px;
    color: #0071BC;
    
    background-color: #EFF2F5;
}

/* 正解不正解box */
.p-quiz-box__answer {
    height: 142px;
    background-color: #EFF2F5;
    border-radius: 8px;
    flex-direction: column;
    justify-content: space-between;

    font-family: Noto Sans JP;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.05em;

    padding-left: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
    margin-top: 16px;
    box-sizing: border-box;
    
    display: none;

}
.p-quiz-box__answer p {
    margin: 0;
}
.add-p-quiz-box__answer {
    display: flex;
}
.correct-answer {
    color: #E34E70;
}
.incorrect-answer {
    color: #0071BC;
}
.incorrect-answer-box {
    background-color: #98c8e8;
}
.show-answer-ex {
    font-family: Noto Sans JP;
    font-size: 18px;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: 0em;
}

/* 引用 */
.q-box-question-cite {
    display: flex;
    align-items: center;
    background: #F6F6F6;
    border-radius: 8px;
    /* 大きさ */
    height: 80px;
    margin-top: 16px;
    
}
.q-box-question-cite-icon {
    margin-left: 24px;
    margin-right: 15.04px;
}
.q-box-question-cite-sentence {
    font-weight: 700;
    font-size: 18px;
    line-height: 180%;
}

@media (max-width: 767px) {
    /* ハンバーガーメニュー */
    /* https://zero-plus.io/media/jquery-hamburger/#%E3%83%87%E3%82%B6%E3%82%A4%E3%83%B3%E3%81%AE%E7%A2%BA%E8%AA%8D */
    .p-header__nav {
        visibility: hidden;
    }
    /* ↑↑こいつを開いた時に活用する */
    .hamburger {
        height: 44px;
        width: 44px;
        position: absolute;
        right: 21px;
        top: 20px;
        z-index: 100;

        /* 元々のbuttonスタイルをリセット↓ */
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }
    /* 擬似要素使うver↓ */
    /* .hamburger::before, .hamburger::after {
        content: "";
        height: 1px;
        width: 34px;
        background-color: #333333;
        display: block;
        position: absolute;
        right: 3px;
    } */
    /* マージンはabsoluteに効かない
    横幅を指定してないと効かない */
    /* .hamburger::before {
        top: 13px;
    }
    .hamburger::after {
        bottom: 13px;
    } */

    /* spanタグ使ってやり直し↓ */
    /* ハンバーガーメニューの線 */
    .hamburger span {
        width: 100%;
        height: 1px;
        background-color: #000;
        position: relative;
        transition: ease .4s; /*ハンバーガーメニュークリック時の三本線の動きを遅延*/
        display: block;
    }
    .hamburger span:nth-child(1) {
        position: absolute;
        top: 0;
    }
    .hamburger span:nth-child(2) {
        position: absolute;
        bottom: 5;
    }

    /* ハンバーガーボタンクリック後のスタイル */    
    .hamburger.active span:nth-child(1) {
        position: absolute;
        top: 0;

        transform: rotate(45deg);
    }
    .hamburger.active span:nth-child(2) {
        position: absolute;
        top: 0;
        transform: rotate(-45deg);
    }

    /* クリックした後のメニュー表示↓ */
    .l-header.p-header.active {
        width: 100%;
        /* visibility:visible; */
        display: block;
        background-color: #fff;
        height: 100%;
        /* padding: 0; */
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: fixed;
        z-index: 99;
    }
    /* クリックした後のナビ↓ */
    .p-header__nav.active {
        visibility: visible;
        margin-top: 76px;
    }
    .p-header__nav__list.active {
        display: block;
        font-family: 'Noto Sans JP';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        text-align: center;
        padding: 0;
    }
    .p-header__nav__item.active {
        margin: 24px;
    }
    .p-header__nav__item.circle.active {
        display: none;
    }

    /* クリックした後の公式ライン↓ */
    .h-fixed-line {
        background-color: #5FDF5B;
        ;
        width: 90%;
        border-radius: 50px;
        margin: 210px auto 0 auto;
        /* height: 60px; */
    }
    .h-fixed-line-box {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .h-link-icon-in-greenbox {
        margin-left: 24px;
        background: radial-gradient(#fff 50%, transparent 0%);
    }
    .h-link-icon-text {
        color: #fff;
        width: 150px;
        /* height: 36px; */
    }
    .h-footer-inner-top {
        /* border-top: solid 1px #eee; */
        text-align: center;
        padding-top: 24px;
        padding-bottom: 36px;
    }
    .h-two-icons {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 8px;
        margin: auto;
        /* margin-bottom: 48px; */
    }
    
    
    /* ヒーロー */
    .top-hero {
        height: 300px;
    }
    .hero-img {
        width: 100%;
    }
    .hero-img-pic {
        border-radius: 0px;
    }
    /* .top-hero {
        padding: 0 auto;
    } */
    .hero-body {
        /* position: relative; */
        position: absolute;
        height: 110px;
        top: 240px;
        width: 343px;
        left: 0;
        right: 0;
        margin: 0 auto;
        
        /* margin: 0 auto; */
        /* ↑なんできかないのおおおおおおおおおおおおおおおおおおおおお */
        /* https://abillyz.com/watanabe/studies/245 */
        /* →absoluteにはmarginがない */
    }
    .posse-community {
        font-size: 12px;
    }
    .hero-catchcopy {
        font-size: 28px;
        font-weight: 700;
        line-height: normal;
    }

    /* 固定公式ライン */
    .fixed-line-box {
        width: 100%;
        height: 48px;
        background-color: #5fdf5b;
        border-radius: 0px;
        position: fixed;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
    }
    /* ラインアイコンを右に寄せたかったあああああああああああああああああああ↓諦め */
    .link-icon-in-greenbox {
        /* position: relative; */
    }
    .link-icon-in-greenbox::before {
        /* content: url(./assets/img/icon/icon-line.svg);
        position: absolute; */
    }
    .fixed-line-box {
    }
    .link-icon-in-greenbox {
        margin: 0;
        margin-left: 10%;
    }
    .link-icon-text {
        font-size: 0;
        width: 49%;
        position: relative;
    }
    .link-icon-text::before {
        font-size: 14px;
        content: '公式LINEで最新情報をGET！';
        position: absolute;
        top: 10px;

    }
    /* .link-icon-white {

    } */

    /* POSSEとは　説明↓ */
    .top-about-body {
        /* display: flex;解除 */
        display: block;
        width: 100%;
    }
    .top-about-body-img {
        margin: 0 auto;
        width: 93%;
    }
    .top-about-body-content {
        width: 93%;
        margin: 0;
        margin: 0 auto;
    }
}
    